<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/courses.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/course.css">
</head>
<body>
		<div id="navbar">
  		<h2>Selab.</h2>
  		<ul>
  			<li><a href="#">nav1</a></li>
  			<li><a href="#">nav2</a></li>
  			<li><a href="#">nav3</a></li>
  			<li><a href="#">nav4</a></li>
  		</ul>
  	</div>

  	<div id="header">
  		<h1>Course</h1>
  		<div class="dropdown">
  			<button class="dropdown-btn">content1</button>
  			<div class="dropdown-content a11y-hidden">
	  			<button class="dropdown-btn">content1</button>
  				<a class="dropdown-list" >content1</a>
  				<a class="dropdown-list" >content2</a>
  				<a class="dropdown-list" >content3</a>
  			</div>
  		</div>
  	</div>

  	<div id="content1" class="frame selected">
  		<div id="Timeline">
  			<h2>timeline</h2>
  			<button id="timeline_btn">click</button>
  		</div>
  		
  		<div id="Home">
  			<div id="Notice">
  				<h2>notice</h2>
  			</div>
  			<div id="Inform">
  				<h2>inform</h2>
  			</div>
  		</div>
  	</div>
  	<div id="content2"></div>
  	<div id="content3"></div>

  	<script type="text/javascript" src="/javascripts/courses.js"></script>
  	<script type="text/javascript" src="/javascripts/course.js"></script>

</body>
</html>