.frame{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	min-height: 0;
	height: 0;
	margin: 0 auto;
	background-color: #efefef;
	opacity: 0;
}

.frame.selected {
	min-height: 80vh;
	width: 80vw;
	opacity: 1;
}

#content1 > div{
	display: flex;

	box-sizing: border-box;
	width: calc(75vw/2);
	min-height: 80vh;
}

#Timeline {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	/*background-color:red;*/
	/*padding : 0 5vw;*/
}

.time_slot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(35vw);
}

.time_slot.deselected{
	height: 0;
	opacity: 0;
}

.time_slot:hover{
	background-color: rgba(0,0,0,0.1);
}

.date{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top :0.9rem;
	padding-right: 1vw;
	box-sizing: border-box;
	width: calc(35vw/3);
}

.slot_content{
	box-sizing: border-box;
	padding : 1vh 0  1vh 3vw;
	width: calc(35vw/3*2);
	border-left: 1px solid blue;
}

.slot_content.class::before {
	content :' ';
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	border : 0.05rem solid black;
	border-radius: 0.15rem;
	transform: translate( calc(-3vw - 0.3rem),600%);
	transition-duration: 0.2s;
}
.slot_contentbox{
	box-sizing: border-box;
	padding: 1vw;
	border-radius: 1rem;
	background-color: rgba(0,0,0,0.1);
}
.slot_contentbox::before{
	content :' ';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent; 
	border-right:1rem solid rgba(0,0,0,0.1); 
	transform: translate(calc(-100% - 1vw),50%);
}
.slot_contentbox >h4{
	margin: 0.1rem 0;
	border-bottom : 1px solid black;
}
.weekbox{
	padding-top: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}		

.week{

	align-self: center;
	text-align: center;
	margin: 0;
	width: 50px;
	box-sizing: border-box;
	background-color : black;
	color: white;
}
.week:before{
	width:0;
	height:0;
}

#Home{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding: 0;
}

#Home > div{


	width:35vw;
	min-height: 35vh;
	box-sizing: border-box;
	/*padding: 0 5vw;*/
	/*background-color: red;*/
<<<<<<< HEAD
}

#Inform {
	display: flex;
	flex-direction: column;
}

#Lecturer_Assitants {
	display: flex;
	flex-direction: column;
}
#Lecturer_Assitants > div{
	display: flex;
	flex-direction: row;
}
#class_section > ul{
	display: flex;
	flex-direction: row;
}
#content2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pbl_objective {	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#pbl_GGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pbl_GGroup > div  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#sec1btn{
	min-width: 
}

#sec1 {
	min-height:60vh;
	opacity: 1;	
}

#sec1.fold{
	height: 0;
	min-height: 0;
	opacity: 0;
}

.pbl_group_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15vw;
	margin: 2.5vh 2.5vh;
	border : 1px solid blue;
	border-radius: 1.5vw;
}

.pbl_group_list{
	display: flex;
	flex-direction: row;
	flex-wrap : wrap;
	list-style: none;		
}
.pbl_group_list > li {
	margin: 0 0.5vw;
}
=======
}
>>>>>>> parent of 0d5db85... error!
